/build
/src/androidTest/java/com/example/mytodoapp/
/src/test/java/com/example/mytodoapp/
/schemas/com.example.mytodoapp.services.DbManager/1.json
/schemas/com.example.mytodoapp.services.DbManager/2.json
/schemas/com.example.mytodoapp.services.DbManager/3.json
/schemas/com.example.mytodoapp.services.DbManager/4.json
/schemas/com.example.mytodoapp.services.DbManager/5.json
/schemas/com.example.mytodoapp.services.DbManager/6.json
/schemas/com.example.mytodoapp.services.DbManager/7.json
/schemas/com.example.mytodoapp.services.DbManager/8.json
/schemas/com.example.mytodoapp.services.DbManager/9.json
/schemas/com.example.mytodoapp.services.DbManager/10.json
