/build
/src/androidTest/java/com/example/mytodoapp/
/src/test/java/com/example/mytodoapp/
/schemas/com.example.mytodoapp.services.DbManager/1.json
/schemas/com.example.mytodoapp.services.DbManager/2.json
/schemas/com.example.mytodoapp.services.DbManager/3.json
